<html>
<head>
<title>Data from Mongo DB</title>
<style>
    body{
        background-color:rgb(71, 243, 255);
    }
h2{
    color: blue;
}
</style>
</head>
<body>
<h2></h2>
<table border="1">
    <tr><td>Id produit</td>
        <td>Produit</td>
        <td>Categorie</td>
        <td>prix</td>
        <td>Edit</td>
        <td>Supprimer</td>
        <td>Afficher</td>
    </tr>
<% if( Array.isArray(produits) ) { %>
<% for(var i=0; i< produits.length;i++){%>
    <tr>
        <td> <%= produits[i]._id %> </td> 
        <td> <%= produits[i].titre %> </td>
        <td><%= produits[i].categorie %></td> 
        <td>  <%= produits[i].prix %></td>
        <td> <a href='/edit/<%=produits[i]._id %>'>edit</a></td>
        <td> <a href='/supprimer/<%=produits[i]._id %>'>Supprimer</a></td>
        <td> <a href='/show/<%=produits[i]._id %>'>affichage</a></td>
    </tr>

<% }}  %>
</table>
</html>
</body>